@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #8b5cf6;
  --color-secondary: #ec4899;
  --color-tertiary: #3b82f6;
}

@layer base {
  body {
    @apply bg-slate-900 text-slate-100;
  }
}
